@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="button" id="sendButton" title="Enviar Mensagem" />

    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>


</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/sincronizacaoFormulario").build();

    connection.on("broadcastSincronizacaoFormulario", function (message) {
        console.log("menssagem index2: " + message);
        try {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);

            li.textContent = message;

        } catch (e) {
            console.log(e);
        }

    });

    connection.start().then(function () {
        console.log("Iniciou index2!")
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {

        connection.invoke("SendSincronizacao", "Ricardo SignalR").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>
