<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="mapClick()">map</button>
    <button mat-button color="primary" (click)="filterClick()">filter</button>
    <button mat-button color="primary" (click)="tapClick()">tap</button>
    <button mat-button color="primary" (click)="takeClick()">take</button>
    <button mat-button color="primary" (click)="debounceTimeClick()">debounceTimeClick</button>
    <button mat-button color="primary" (click)="debounceTimeSearchClick()">debounceTimeSearchClick</button>
    <button mat-button color="primary" (click)="takeWhileClick()">takeWhileClick</button>
    <button mat-button color="primary" (click)="takeUntilClick()">takeUntilClick</button>
</div>

<div class="debounce-area"
matRipple
[matRippleCentered]="true"
[matRippleRadius]="40"
[matRippleColor]="'red'">

</div>

<mat-divider></mat-divider>
<mat-form-field>
    <mat-label>Search By:</mat-label>
    <input matInput
    placeholder="typing some"
    autocomplete="off"
    (keyup)="searchBy_usingdebounce($event)"
    [(ngModel)]="searchInput"
    >
</mat-form-field>
