<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>
            Homer Simpson
        </mat-card-title>
        <mat-card-subtitle>
            Duff!
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c4c4.png" alt="Fotos">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent">Like</button>
        <button mat-button color="primary">share</button>
    </mat-card-actions>
</mat-card>