<p>two-way-data-binding works!</p>
<section>
    <mat-card style="margin: 20px">
        <mat-card-content>
            <form>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="name1" name="anynome1">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="name2" name="anynome2">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{name1}}</p>
            <p>{{name2}}</p>
        </mat-card-actions>
    </mat-card>
</section>
<section>
    <mat-card style="margin: 20px">
        <mat-card-title>
            Cliente
        </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="person.firstname" name="anynome1">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="person.lastname" name="anynome2">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="person.age" name="anynome3">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" [(ngModel)]="person.address" name="anynome4">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{person.firstname}}</p>
            <p>{{person.lastname}}</p>
            <p>{{person.age}}</p>
            <p>{{person.address}}</p>
        </mat-card-actions>
    </mat-card>
</section>